<a href="https://colab.research.google.com/github/brigitaa/11181020_Brigita_DM_IF-ITK/blob/main/11181020_Brigita_DM_IF_ITK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd 

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm  
from sklearn.svm import SVC

In [ ]:
df = pd.read_csv("IRIS.csv")
df.head(10)

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

In [ ]:
print ("Jumlah kelas: ", np.unique(df['species']))

Jumlah kelas:  ['Iris-setosa' 'Iris-versicolor' 'Iris-virginica']

In [ ]:
print ("Banyak data: ", len(df))

Banyak data:  150

In [ ]:
X = df.drop("species", axis=1)
y = df["species"]

# Menggunakan data training 75% dan data uji 25%
X_train, X_test, y_train, y_test = train_test_split(X, y,train_size=0.8, test_size=0.2,random_state=0)

In [ ]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
137           6.4          3.1           5.5          1.8
84            5.4          3.0           4.5          1.5
27            5.2          3.5           1.5          0.2
127           6.1          3.0           4.9          1.8
132           6.4          2.8           5.6          2.2
..            ...          ...           ...          ...
9             4.9          3.1           1.5          0.1
103           6.3          2.9           5.6          1.8
67            5.8          2.7           4.1          1.0
117           7.7          3.8           6.7          2.2
47            4.6          3.2           1.4          0.2

[120 rows x 4 columns]

In [ ]:
# Mencari nilai akurasi model KNN
model = KNeighborsClassifier(n_neighbors=3)
model.fit(X_train, y_train)
yprediksi = model.predict(X_test)
print('Akurasi dari model KNN adalah',accuracy_score(y_test, yprediksi))

Akurasi dari model KNN adalah 0.9666666666666667

In [ ]:
# Mencari nilai akurasi model SVM
model = svm.SVC()
model.fit(X_train, y_train)
yprediksi = model.predict(X_test)
print('Akurasi dari model SVM adalah',accuracy_score(y_test, yprediksi))

Akurasi dari model SVM adalah 1.0

# Kesimpulan

Model klasifikasi yang digunakan pada dataset iris ini ada 2 yaitu model KNN dan model SVM, dimana menggunakan data training sebesar 80% dan data uji sebesar 20% dengan akurasi dari setiap model adalah 96% dan 100%. Oleh karena itu, dapat dikatakan bahwa model SVM lebih baik daripada model KNN.